header {
        position: sticky;
        top: 0;
        z-index: 105;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 30px;
        
        
        form {
                width: 35vw;
                // min-width: 215px;
                div.search_bar_area {
                        display: flex;
                        justify-content: space-between;
                        border: 1px solid #33333356;
                        height: 50px;
                        border-radius: 30px;
                        

                        div.search_bar {
                                width: 90%;
                                height: 100%;
                                input {
                                        border-radius: 29px 0 0 29px;
                                        outline: none;
                                        border: none;
                                        width: 100%;
                                        height: 100%;
                                        padding-left: 20px;
                                        font-size: 1.2rem;
                                        font-family: 'Baloo 2', cursive;
                                        background-color: none;
                                }
                        }
                        div.submit_btn {
                                width: 15%;
                                display: flex;
                                border-radius: 0 29px 29px 0;
                                button {
                                        width: 100%;
                                        border: none;
                                        outline: none;
                                        background-color: #fff;
                                        font-size: 1.2rem;
                                        padding-right: 20px;
                                        border-radius: 0 29px 29px 0;
                                        position: relative;
                                        // right: 10px;
                                }
                        }
                }
        }
        ul {
                display: flex;
                align-items: center;

                li {
                        display: flex;
                        align-items: center;
                        cursor: pointer;

                        &:not(:first-child) {
                                margin-left: 30px;
                        }

                        &.results,
                        &.home,
                        &.favs,
                        &.login,
                        &.signup,
                        &.logout_btn ,
                        &.help{
                                font-size: 1.5rem;
                                &::after, a {
                                        font-size: 1.2rem;
                                        margin-left: 5px;
                                        position: relative;
                                        font-family: 'Baloo 2', cursive;
                                }
                        }

                        &.results {
                                font-size: 1rem;
                                color: #5c5c5c;
                                margin-right: 40px;
                        }

                        &.home {
                                &::after {
                                        content: "Home";
                                }
                        }

                        &.favs {
                                span.saves_count {
                                        display: inline-block;
                                        font-size: 1.2rem;
                                        padding-left: 5px;
                                }
                        }
                        &.logout_btn {
                                &::after {
                                        content: "Logout";
                                }
                        }
                        &.help {
                                border-left: 1px solid #a7a7a773;
                                padding-left: 15px;
                                &::after {
                                        content: '?';
                                }
                        }

                        &.login, 
                        &.signup {
                                // border: 1px solid #b6b6b6;
                                // padding: 5px 10px;
                                // border-radius: 5px;
                                // background-color: #c0c0c0;
                                a {
                                        color: #000;
                                }
                        }
                }

                li.menu_btn {
                        display: none;
                        flex-direction: column;
                        justify-content: center;
                        height: 30px;
                        width: 25px;
                        
                        div {
                                width: 100%;
                                margin: 2px 0;
                                border: 1px solid #1b1b1b;;
                                border-radius: 10px;
                                &.line_2 {
                                        width: 75%;
                                        align-self: flex-end;
                                }
                        }
                }
        }
}

// MEDIA QUERIES FOR HEADER 
@media only screen and (max-width: 1150px) {
        header {
                form {
                        width: 30vw;
                }
        }
}

@media only screen and (max-width: 950px) {
        ul {
                li.menu_btn {
                        -webkit-tap-highlight-color: transparent;
                }
                li {
                        -webkit-tap-highlight-color: transparent;
                        &.results {
                                display: none;
                        }
                }
        }
}

@media only screen and (max-width: 840px) {
        header {
                padding: 15px 20px;
                background-color: #ffffff57;
                form {
                        min-width: 225px;

                        div.search_bar_area {
                                height: 40px;
        
                                div.search_bar {
                                        input {
                                                font-size: 1rem;
                                        }
                                }
                                div.submit_btn {
                                        button {
                                                font-size: 1rem;
                                        }
                                }
                        }
                }
                ul {
                        li {
                                &.results,
                                &.home,
                                &.favs,
                                &.login,
                                &.signup,
                                &.logout_btn ,
                                &.help{
                                        display: none;
                                }
                        }
                        li.menu_btn {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                height: 30px;
                                width: 30px;
                                div {
                                        width: 100%;
                                        margin: 2px 0;
                                        border: 1px solid #1b1b1b;
                                        border-radius: 30px;
        
                                        &.line_1 {
                                                height: 5px;
                                                background-color: #1b1b1b;
                                        }
                                        &.line_2 {
                                                width: 75%;
                                                height: 5px;
                                                align-self: flex-end;
                                                background-color: #1b1b1b;
                                        }
                                        &.line_3 {
                                                height: 5px;
                                                background-color: #1b1b1b;
                                        }
                                }
                        }
                }
        }
}