header {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 30px;
}

header form {
  width: 35vw;
}

header form div.search_bar_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #33333356;
  height: 50px;
  border-radius: 30px;
}

header form div.search_bar_area div.search_bar {
  width: 90%;
  height: 100%;
}

header form div.search_bar_area div.search_bar input {
  border-radius: 29px 0 0 29px;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  font-size: 1.2rem;
  font-family: 'Baloo 2', cursive;
  background-color: none;
}

header form div.search_bar_area div.submit_btn {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0 29px 29px 0;
}

header form div.search_bar_area div.submit_btn button {
  width: 100%;
  border: none;
  outline: none;
  background-color: #fff;
  font-size: 1.2rem;
  padding-right: 10px;
  border-radius: 0 29px 29px 0;
  position: relative;
  right: 10px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

header ul li:not(:first-child) {
  margin-left: 30px;
}

header ul li.results, header ul li.home, header ul li.favs, header ul li.login, header ul li.signup, header ul li.logout_btn, header ul li.help {
  font-size: 1.5rem;
}

header ul li.results::after, header ul li.results a, header ul li.home::after, header ul li.home a, header ul li.favs::after, header ul li.favs a, header ul li.login::after, header ul li.login a, header ul li.signup::after, header ul li.signup a, header ul li.logout_btn::after, header ul li.logout_btn a, header ul li.help::after, header ul li.help a {
  font-size: 1.2rem;
  margin-left: 5px;
  position: relative;
  font-family: 'Baloo 2', cursive;
}

header ul li.results {
  font-size: 1rem;
  color: #5c5c5c;
  margin-right: 40px;
}

header ul li.home::after {
  content: "Home";
}

header ul li.favs span.saves_count {
  display: inline-block;
  font-size: 1.2rem;
  padding-left: 5px;
}

header ul li.logout_btn::after {
  content: "Logout";
}

header ul li.help {
  border-left: 1px solid #a7a7a773;
  padding-left: 15px;
}

header ul li.help::after {
  content: '?';
}

header ul li.login a, header ul li.signup a {
  color: #000;
}

header ul li.menu_btn {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  width: 25px;
}

header ul li.menu_btn div {
  width: 100%;
  margin: 2px 0;
  border: 1px solid #1b1b1b;
  border-radius: 10px;
}

header ul li.menu_btn div.line_2 {
  width: 75%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media only screen and (max-width: 1150px) {
  header form {
    width: 30vw;
  }
}

@media only screen and (max-width: 950px) {
  ul li.results {
    display: none;
  }
}

@media only screen and (max-width: 840px) {
  header {
    padding: 15px 20px;
  }
  header form {
    min-width: 225px;
  }
  header form div.search_bar_area {
    height: 40px;
  }
  header form div.search_bar_area div.search_bar input {
    font-size: 1rem;
  }
  header form div.search_bar_area div.submit_btn button {
    font-size: 1rem;
  }
  header ul li.results, header ul li.home, header ul li.favs, header ul li.login, header ul li.signup, header ul li.logout_btn, header ul li.help {
    display: none;
  }
  header ul li.menu_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 30px;
    width: 30px;
  }
  header ul li.menu_btn div {
    width: 100%;
    margin: 2px 0;
    border: 1px solid #1b1b1b;
    border-radius: 30px;
  }
  header ul li.menu_btn div.line_1 {
    height: 5px;
    background-color: #1b1b1b;
  }
  header ul li.menu_btn div.line_2 {
    width: 75%;
    height: 5px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    background-color: #1b1b1b;
  }
  header ul li.menu_btn div.line_3 {
    height: 5px;
    background-color: #1b1b1b;
  }
}
