div.login_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

div.login_page div.wallpaper {
  background-image: url("/images/emoji-bg-1.png");
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  width: 60vw;
  height: 100%;
  position: relative;
}

div.login_page div.wallpaper_overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 60vw;
  height: 100%;
  background-color: #333333ef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.login_page div.wallpaper_overlay div.image {
  width: 40vw;
}

div.login_page div.wallpaper_overlay div.image img {
  width: 100%;
}

div.login_page div.wallpaper_overlay div.image p.tagline {
  font-size: 2rem;
  color: #fff;
  letter-spacing: 2px;
  position: relative;
  bottom: 20px;
  text-align: center;
}

div.login_page form {
  width: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: inset 0px 0px 9px -1px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0px 0px 9px -1px rgba(0, 0, 0, 0.7);
  position: relative;
}

div.login_page form h1 {
  margin-bottom: 10px;
  font-size: 3rem;
}

div.login_page form div.form_content {
  width: 65%;
  margin-bottom: 50px;
}

div.login_page form div.form_content div.field {
  border: 1px solid #33333356;
  height: 60px;
  margin-bottom: 15px;
  border-radius: 5px;
}

div.login_page form div.form_content div.field input {
  width: 100%;
  height: 100%;
  border: 0;
  padding-left: 10px;
  font-size: 1.5rem;
  border-radius: 4px;
  font-family: 'Baloo 2', cursive;
}

div.login_page form div.form_content div.field input::-webkit-input-placeholder {
  color: #a8a8a8;
}

div.login_page form div.form_content div.field input:-ms-input-placeholder {
  color: #a8a8a8;
}

div.login_page form div.form_content div.field input::-ms-input-placeholder {
  color: #a8a8a8;
}

div.login_page form div.form_content div.field input::placeholder {
  color: #a8a8a8;
}

div.login_page form div.form_content div.submit_btn {
  width: 100%;
  height: 60px;
  border-radius: 5px;
}

div.login_page form div.form_content div.submit_btn button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 4px;
  font-size: 1.5rem;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  font-family: 'Baloo 2', cursive;
}

div.login_page form div.form_content div.dont_have_an_account {
  margin-top: 10px;
}

div.login_page form div.form_content div.dont_have_an_account a {
  color: #c7a302;
}

div.login_page form div.form_footer {
  font-size: 1.4rem;
  color: rgba(51, 51, 51, 0.781);
  position: absolute;
  bottom: 10px;
}
