div.playground_container {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 102;
        width: 85vw;
        -webkit-box-shadow: inset 0px 0px 11px -1px rgba(0,0,0,0.4);
        -moz-box-shadow: inset 0px 0px 11px -1px rgba(0,0,0,0.4);
        box-shadow: inset 0px 0px 11px -1px rgba(0,0,0,0.4);

        div.emojis_and_ads {
                position: relative;
                z-index: -1;
                display: flex;
                width: 85vw;
                height: 100%;
                div.ads {
                        width: 20vw;
                        position: absolute;
                        right: 0;
                }
        }
}

@media only screen and (max-width: 950px) {
        div.playground_container {
                div.emojis_and_ads {
                        div.ads {
                                display: none;
                                width: 0;
                        }
                }
        }
}