div.playground_container {
        width: 85vw;
        height: 100vh;
        -webkit-box-shadow: inset 0px 0px 11px -1px rgba(0,0,0,0.4);
        -moz-box-shadow: inset 0px 0px 11px -1px rgba(0,0,0,0.4);
        box-shadow: inset 0px 0px 11px -1px rgba(0,0,0,0.4);

        div.emojis_and_ads {
                position: relative;
                display: flex;
                width: 100%;
                div.ads {
                        width: 20vw;
                }
        }
}