div.side_nav_container {
        width: 15vw;
        border-right: 1px solid #333;
        height: 100vh;
        background-color: #1b1b1b;
        min-width: 200px;

        ul {
                height: 98vh;
                overflow-y: scroll;

                li.logo_item {
                        position: relative;
                        div.logo {
                                width: 150px;
                                margin: 0 auto;
                                img {
                                        display: block;
                                        width: 100%; 
                                }
                        }
                        &:hover {
                                animation: smileFaceAnimation .1s ease-in .1s forwards;
                        }
                }
                li {
                        display: flex;
                        
                        color: #fff;
                        cursor: pointer;

                        div.cat_name {
                                margin-left: 10px;
                        }

                        div.emojicon {
                                font-size: 1.3rem;
                        }

                        div {
                                font-size: 1.2rem;
                        }
                        &:hover:not(:first-child) {
                                background-color: #383838d8;
                        }
                        &:not(:first-child) {
                                padding: 10px 10px 10px 40px;
                        }
                }
        }
}

@keyframes smileFaceAnimation {
        from {
                transform: rotate(0deg);
        }
        to {
                transform: rotate(-20deg);
        }
}
